.navbar {
  display: flex;
  height: 3rem;
  background-color: white;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-weight: 700;
  color: #0070e0;
}

.item{
  padding-left: 1em;
  color: #0070e0;
  display: inline-block;
  cursor: pointer;
}

