.container{
  max-width: 20rem;
  min-height: 5rem;
  padding: 10px 10px;
  border-radius: 4px;
  border-top: 1px solid lightgray;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  align-items: center;
  text-align: center;
  justify-content: center;
}

